html {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875rem;
  color: #292929;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

.wrapper {
  overflow-x: hidden;
  position: relative;
}

.wrapper_fixed {
  overflow: hidden;
}

@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Play"), url("../fonts/Play-Regular.woff2") format("woff2"), url("../fonts/Play-Regular.woff") format("woff"), url("../fonts/Play-Regular.ttf") format("truetype"), url("../fonts/Play-Regular.eot") format("embedded-opentype");
}

@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Play"), url("../fonts/Play-Bold.woff2") format("woff2"), url("../fonts/Play-Bold.woff") format("woff"), url("../fonts/Play-Bold.ttf") format("truetype"), url("../fonts/Play-Bold.eot") format("embedded-opentype");
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Alegreya Sans"), url("../fonts/AlegreyaSans-Regular.woff2") format("woff2"), url("../fonts/AlegreyaSans-Regular.woff") format("woff"), url("../fonts/AlegreyaSans-Regular.ttf") format("truetype"), url("../fonts/AlegreyaSans-Regular.eot") format("embedded-opentype");
}

.page_fixed {
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: #292929;
  display: block;
}

.link_white {
  color: white;
}

.link_register_low {
  text-transform: none;
}

.container {
  width: 100%;
  max-width: 68.75rem;
  padding: 0 5rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 100vh;
    padding: 0 1.375rem;
    width: 100%;
    max-width: 100vw;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 0.625rem;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 1px);
  padding: 0;
  border: 0;
  height: 0.0625rem;
  width: 0.0625rem;
  overflow: hidden;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

.title_size_m {
  font-size: 2.25rem;
  line-height: 2.625rem;
}

.title_size_s {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-transform: none;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
}

.button {
  width: 10.1875rem;
  height: 3.375rem;
  background: #e01f3d;
  border-radius: 6.25rem;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.button__text_hidden {
  visibility: hidden;
}

.button_clean {
  background: none;
  text-transform: none;
  font-weight: normal;
}

.hamburger {
  width: 26px;
  height: 20px;
  display: none;
  position: fixed;
  top: 2rem;
  right: 5%;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hamburger_active {
  z-index: 200;
}

.hamburger__line {
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburger__line_active {
  background-color: white;
  position: absolute;
  z-index: 200;
}

.hamburger__line_active:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger__line_active:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.hamburger__line_active:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.overlay {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #313131;
  z-index: 100;
  position: fixed;
  top: 0;
  right: -200%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.overlay__link {
  text-decoration: none;
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 2.25rem;
  line-height: 4.5rem;
}

.overlay__link:hover {
  color: #E01F3D;
}

.overlay_active {
  right: 0;
}

.social__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.social__item {
  margin: 0 0.3125rem;
}

@media screen and (max-width: 480px) {
  .social__item {
    margin: 0;
    margin-right: 0.875rem;
  }
  .social__item:last-child {
    margin-right: 0;
  }
}

.social__icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: #b3b3b3;
}

.social__icon:hover {
  fill: #000000;
}

@media screen and (max-width: 768px) {
  .social {
    margin: 0;
  }
}

.address {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 0.3125rem;
}

@media screen and (max-width: 480px) {
  .address {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-left: 0;
    margin-bottom: 0.75rem;
    text-align: center;
  }
}

.blockquote {
  margin: 0;
  padding: 2.625rem;
  padding-bottom: 2.5rem;
  background: #f8faf9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .blockquote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3.125rem;
  }
}

.blockquote__picture {
  margin-right: 2.5rem;
  width: 20%;
}

@media screen and (max-width: 768px) {
  .blockquote__picture {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .blockquote__picture {
    width: 38%;
  }
}

.blockquote__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blockquote__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 31.125rem;
  padding-top: 2rem;
}

@media screen and (max-width: 768px) {
  .blockquote__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
}

.blockquote__title {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: none;
  margin-bottom: 1.6875rem;
}

.blockquote__text {
  margin: 0;
  padding: 0;
  margin-bottom: 2.375rem;
}

@media screen and (max-width: 768px) {
  .blockquote__text {
    text-align: center;
  }
}

.blockquote__cite {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 -0.875rem;
}

@media screen and (max-width: 480px) {
  .form {
    margin: 0;
    max-width: 100%;
  }
}

.form__left-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 28.75rem;
  margin: 0 0.875rem;
}

@media screen and (max-width: 768px) {
  .form__left-column {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .form__left-column {
    max-width: 100%;
  }
}

.form__right-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 28.75rem;
  margin: 0 0.875rem;
}

@media screen and (max-width: 480px) {
  .form__right-column {
    max-width: 100%;
    margin: 0;
  }
}

.form__label {
  color: white;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.375rem;
  cursor: pointer;
}

.form__label_margin_zero {
  margin: 0;
}

.form__label_radio {
  position: relative;
  padding-left: 2.1875rem;
}

.form__label_radio::before {
  content: "";
  width: 1.625rem;
  height: 1.625rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0rem;
  margin-top: -0.8125rem;
}

.form__label_radio_active::before {
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  background-color: #e01f3d;
  border: 0.375rem solid white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0rem;
  margin-top: -0.8125rem;
}

.form__label_checkbox {
  position: relative;
  padding-left: 2.1875rem;
}

.form__label_checkbox::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 0.25rem;
  position: absolute;
  top: 50%;
  left: 0rem;
  margin-top: -0.75rem;
}

.form__label_checkbox_active::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/checkmark.svg") no-repeat center;
  background-size: 0.625rem 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  position: absolute;
  top: 50%;
  left: 0rem;
  margin-top: -0.75rem;
}

.form__input {
  height: 3.625rem;
  background: #ffffff;
  border-radius: 0.25rem;
  margin: 0;
  padding: 0;
  padding-left: 0.625rem;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .form__input {
    height: 2.25rem;
  }
}

.form__radio {
  display: none;
}

.form__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0.6875rem;
}

@media screen and (max-width: 768px) {
  .form__contacts {
    max-width: 100%;
  }
}

.form__name {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  margin-right: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .form__name {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    min-width: 30%;
  }
}

.form__phone {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .form__phone {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    min-width: 30%;
  }
}

.form__street {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.6875rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.6875rem;
}

.form__house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 6.625rem;
  margin-right: 0.8125rem;
}

.form__house input {
  width: 100%;
}

.form__housing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 6.625rem;
  margin-right: 0.8125rem;
}

.form__housing input {
  width: 100%;
}

.form__flat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 6.625rem;
  margin-right: 0.8125rem;
}

.form__flat input {
  width: 100%;
}

.form__floor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 6.625rem;
}

.form__floor input {
  width: 100%;
}

.form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  margin-bottom: 2.375rem;
}

@media screen and (max-width: 768px) {
  .form__comment {
    margin-bottom: 1.875rem;
  }
}

.form__textarea {
  display: block;
  min-height: 8.9375rem;
  border: none;
  outline: none;
  background: #ffffff;
  border-radius: 0.25rem;
  padding: 0.3125rem 0.625rem;
  max-width: 100%;
  resize: none;
}

@media screen and (max-width: 768px) {
  .form__textarea {
    min-height: 5.125rem;
  }
}

.form__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1.25rem;
}

.form__cash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row-reverse;
      -ms-flex-pack: row-reverse;
          justify-content: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.9375rem;
}

.form__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row-reverse;
      -ms-flex-pack: row-reverse;
          justify-content: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__checkbox {
  display: none;
}

.form__call {
  margin-bottom: 2.75rem;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .form__buttons {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 480px) {
  .form__buttons {
    max-width: 100%;
  }
}

.features {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.features__item {
  margin: 0;
  padding: 0;
  margin-right: 2.75rem;
  -ms-flex-preferred-size: 6.5rem;
      flex-basis: 6.5rem;
}

@media screen and (max-width: 768px) {
  .features__item {
    margin: 0 2.25rem;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.features__termin {
  margin: 0;
  padding: 0;
  margin-bottom: 0.0625rem;
}

.features__description {
  margin: 0;
  padding: 0;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.header {
  background-color: #f5f5f5;
  padding: 1.5rem 0;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .header__container {
    min-height: 10vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  margin-right: 2.375rem;
}

.header__phone {
  margin-left: 2.9375rem;
}

.nav-main {
  margin: 0;
  padding: 0;
  width: 41.25rem;
}

@media screen and (max-width: 768px) {
  .nav-main {
    display: none;
  }
}

.nav-main__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-main__item {
  margin-right: 0.625rem;
  margin-left: 0.625rem;
}

.nav-main__link {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.phone {
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.125rem;
  display: block;
  position: relative;
  padding-bottom: 0.1875rem;
  min-width: 9.625rem;
}

@media screen and (max-width: 768px) {
  .phone {
    display: none;
  }
}

.phone:before {
  content: '';
  width: 0.875rem;
  height: 0.875rem;
  background: url("../img/icons/phone.svg") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0.125rem;
  left: -1.25rem;
}

.start-screen {
  background-color: #f5f5f5;
}

.start-screen__container {
  padding-top: 4.125rem;
  padding-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 768px) {
  .start-screen__container {
    min-height: 90vh;
    padding-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .start-screen__container {
    padding: 0 1.25rem;
  }
}

.start-screen__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .start-screen__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.start-screen__picture {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 3%;
  right: 9%;
}

@media screen and (max-width: 768px) {
  .start-screen__picture {
    width: 46%;
    position: static;
    margin-bottom: 10%;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .start-screen__picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: content;
       object-fit: content;
  }
}

@media screen and (max-width: 480px) {
  .start-screen__picture {
    width: 78%;
  }
}

.start-screen__title {
  width: 25rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1.375rem;
  display: block;
}

@media screen and (max-width: 768px) {
  .start-screen__title {
    width: 90%;
    text-align: center;
  }
}

.start-screen__subtitle {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  width: 20.75rem;
  margin: 0;
  margin-bottom: 2.25rem;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .start-screen__subtitle {
    text-align: center;
  }
}

.start-screen__button {
  margin-bottom: 4.5rem;
}

.start-screen__advantages-list {
  margin: 0;
  padding: 0;
  max-width: 32.625rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .start-screen__advantages-list {
    display: none;
  }
}

.start-screen__advantages-item {
  width: 10.375rem;
  height: 3.5rem;
  margin: 0;
  padding: 0;
  padding-left: 3.25rem;
  line-height: 1.125rem;
  position: relative;
}

.start-screen__advantages-item::before {
  content: '';
  width: 2.5625rem;
  height: 2.5625rem;
  position: absolute;
  top: -0.125rem;
  left: 0rem;
}

.start-screen__advantages-item:nth-child(1)::before {
  background: url("../img/icons/main-1.svg") no-repeat center;
  background-size: cover;
}

.start-screen__advantages-item:nth-child(2)::before {
  background: url("../img/icons/main-2.svg") no-repeat center;
  background-size: cover;
}

.start-screen__advantages-item:nth-child(3)::before {
  background: url("../img/icons/main-3.svg") no-repeat center;
  background-size: cover;
}

.nav-sections {
  position: fixed;
  top: 9.375rem;
  right: 0rem;
}

.promo {
  /*
    &__advantages-decor {
        width: rem(22px);
        height: rem(22px);
        margin: 0 rem(23px);
        background-color: #F2F5F4;;
        border-radius: 50%;
        position: absolute;
        top: rem(60px);
        right: rem(-60px);

        &::before {
            content: '';
            width: rem(14px);
            height: rem(14px);
            background-color: #F2F5F4;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: rem(-7px);
            left: rem(-24px);
        }

        &::after {
            content: '';
            width: rem(14px);
            height: rem(14px);
            background-color: #F2F5F4;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: rem(-7px);
            right: rem(-24px);
        }
    }*/
}

.promo__container {
  padding-top: 6.25rem;
  padding-bottom: 1.625rem;
}

@media screen and (max-width: 768px) {
  .promo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.promo__title {
  text-align: center;
  margin-bottom: 1.125rem;
}

.promo__subtitle {
  text-align: center;
  max-width: 36.875rem;
  margin: 0 auto;
  margin-bottom: 3.875rem;
}

.promo__advantages-list {
  margin: 0 -1.5rem;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 480px) {
  .promo__advantages-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    width: 100%;
  }
}

.promo__advantages-item {
  -ms-flex-preferred-size: 1 1 17.25rem;
      flex-basis: 1 1 17.25rem;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.5rem;
  margin-bottom: 4.375rem;
}

@media screen and (max-width: 768px) {
  .promo__advantages-item {
    margin: 0;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .promo__advantages-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .promo__advantages-item:last-child {
    margin-bottom: 0;
  }
}

.promo__advantages-picture {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #f2f5f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.625rem;
}

.promo__advantages-picture img {
  max-width: 4.25rem;
  max-height: 4.25rem;
}

@media screen and (max-width: 480px) {
  .promo__advantages-picture {
    margin-bottom: 0;
    margin-right: 0.75rem;
    min-width: 8rem;
  }
}

.promo__advantages-descript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .promo__advantages-descript {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
}

.promo__advantages-title {
  margin: 0;
  margin-bottom: 0.4375rem;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}

@media screen and (max-width: 480px) {
  .promo__advantages-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: left;
    width: 100%;
  }
}

.promo__advantages-text {
  margin: 0;
  padding: 0;
  width: 15.4375rem;
}

@media screen and (max-width: 768px) {
  .promo__advantages-text {
    width: 100%;
    max-width: 14.3125rem;
  }
}

@media screen and (max-width: 480px) {
  .promo__advantages-text {
    text-align: left;
    max-width: 100%;
  }
}

.products {
  background-color: #f8faf9;
  padding-top: 2.25rem;
  padding-bottom: 6rem;
}

@media screen and (max-width: 768px) {
  .products {
    padding-bottom: 1.875rem;
  }
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 768px) {
  .products__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.products__left-column {
  padding-top: 3.625rem;
  padding-left: 1.25rem;
  margin-right: 1.25rem;
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .products__left-column {
    width: 40%;
    margin-bottom: 3.125rem;
    margin-right: 0;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .products__left-column {
    width: 70%;
  }
}

.products__right-column {
  /*padding-top: rem(68px);*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 25rem;
      flex-basis: 25rem;
  margin-right: 0;
  margin-left: 1.25rem;
}

@media screen and (max-width: 768px) {
  .products__right-column {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 88%;
  }
}

@media screen and (max-width: 480px) {
  .products__right-column {
    max-width: 92%;
  }
}

.products__button-specifications {
  width: 5.6875rem;
  height: 5.6875rem;
  margin-bottom: 1.5625rem;
  border-radius: 0.25rem;
  background: url("../img/specifications.svg") no-repeat center;
  background-size: 2.625rem 2.625rem;
  background-color: #9a9a9a;
}

@media screen and (max-width: 768px) {
  .products__button-specifications {
    display: none;
  }
}

.products__title {
  margin-bottom: 1.5625rem;
}

@media screen and (max-width: 768px) {
  .products__title {
    text-align: center;
    font-size: 28px;
    line-height: 32px;
  }
}

.products__subtitle {
  width: 23rem;
  margin-bottom: 1.625rem;
}

@media screen and (max-width: 768px) {
  .products__subtitle {
    text-align: center;
    width: 100%;
  }
}

.products__features {
  margin-bottom: 1.5rem;
}

.products__img {
  width: 100%;
  max-width: 28.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__value {
  font-size: 2.25rem;
  line-height: 3.75rem;
  margin: 0;
  padding: 0;
  margin-right: 1.1875rem;
}

@media screen and (max-width: 768px) {
  .price__value {
    margin: 0 1.625rem;
    white-space: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .price__value {
    margin: 0 0.875rem;
    font-size: 2rem;
  }
}

.price__button {
  width: 10.1875rem;
  height: 3.75rem;
  left: 10.0625rem;
  border-radius: 6.25rem;
}

@media screen and (max-width: 768px) {
  .price__button {
    margin: 0 1.625rem;
  }
}

@media screen and (max-width: 480px) {
  .price__button {
    margin: 0 0.875rem;
  }
}

.button-slider {
  border: none;
  width: 1.5rem;
  height: 2.5rem;
  background: url("../img/arrow-left.svg") no-repeat center;
  background-size: 1.5rem 2.5rem;
  cursor: pointer;
  outline: none;
  position: absolute;
}

.button-slider_prev {
  top: 50%;
  left: 0%;
  margin-left: 1.25rem;
}

@media screen and (max-width: 768px) {
  .button-slider_prev {
    margin-left: 0.625rem;
  }
}

@media screen and (max-width: 480px) {
  .button-slider_prev {
    margin-left: 0;
  }
}

.button-slider_next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 50%;
  right: 0%;
  margin-right: 1.25rem;
}

@media screen and (max-width: 768px) {
  .button-slider_next {
    margin-right: 0.625rem;
  }
}

@media screen and (max-width: 480px) {
  .button-slider_next {
    margin-right: 0;
  }
}

.team {
  padding-top: 4.375rem;
  padding-bottom: 1.25rem;
}

@media screen and (max-width: 768px) {
  .team__containter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__title {
  text-align: center;
  margin-bottom: 3.3125rem;
}

@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 2.125rem;
  }
}

.team__name {
  margin-bottom: 0.75rem;
  padding-right: 0.3125rem;
  text-align: center;
  position: relative;
}

.team__name::after {
  content: "";
  position: relative;
  top: 1rem;
  left: 0.3125rem;
  width: 0;
  height: 0;
  border-top: 0.5rem solid #e01f3d;
  border-right: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
}

.team__name_active::after {
  border-top: none;
  border-bottom: 0.5rem solid #e01f3d;
  top: -0.875rem;
}

@media screen and (max-width: 768px) {
  .team__name {
    -webkit-box-ordinal-group: -9;
        -ms-flex-order: -10;
            order: -10;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1.375rem;
    line-height: 1.625rem;
  }
}

@media screen and (max-width: 480px) {
  .team__name {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}

.team__list {
  margin: 0 -0.625rem;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team__item {
  width: 13.75rem;
  cursor: pointer;
  margin: 0 0.625rem;
  padding-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
  }
}

.team__img {
  width: 13.75rem;
  height: 18.125rem;
  margin-bottom: 1.3125rem;
}

@media screen and (max-width: 768px) {
  .team__img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .team__img {
    width: 8.625rem;
    height: 11.25rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 0.625rem;
  }
}

@media screen and (max-width: 768px) {
  .team__specialization {
    display: none;
  }
}

.specialization {
  margin: 0;
  padding: 0;
  max-height: 100%;
  display: none;
}

.specialization_active {
  overflow: visible;
  height: 100%;
}

.specialization__termin {
  margin: 0;
  margin-bottom: 0.3125rem;
  padding: 0;
  text-align: center;
  color: #000000;
}

.specialization__description {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #666666;
}

.colors {
  background: url("../img/wooman-ball.jpg") no-repeat center;
  background-size: cover;
  min-height: 40.75rem;
  position: relative;
}

.colors__container {
  width: 58.75rem;
  margin: 0 auto;
  padding: 7.1875rem 0.9375rem 0 0.9375rem;
}

.colors__title {
  color: white;
}

.colors__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.colors__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colors__item {
  width: 6.375rem;
  position: relative;
}

.colors__item:nth-child(1) {
  background: #999999;
}

.colors__item:nth-child(2) {
  background: #151515;
}

.colors__item:nth-child(3) {
  background: #E01F3C;
}

.colors__title-bookmark {
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.6875rem;
  width: 29.125rem;
  padding-left: 1.25rem;
  position: absolute;
  top: 100%;
  left: 1.875rem;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.reviews__container {
  padding-top: 4rem;
  padding-bottom: 3.75rem;
}

@media screen and (max-width: 768px) {
  .reviews__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reviews__title {
  text-align: center;
  margin-bottom: 2rem;
}

.reviews__blockquote {
  margin-bottom: 1rem;
}

.reviews__nav {
  margin: 0 auto;
}

.reviews__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.reviews__item {
  margin-right: 0.375rem;
}

.reviews__item:last-child {
  margin-right: 0;
}

.reviews__button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  display: block;
  overflow: hidden;
}

.reviews__button_active {
  border: 0.25rem solid #E01F3D;
}

.reviews__img_min {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video {
  background-color: #F8FAF9;
}

.video__container {
  padding-top: 3.625rem;
  padding-bottom: 6.625rem;
}

@media screen and (max-width: 768px) {
  .video__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.video__title {
  text-align: center;
  margin: 0;
  margin-bottom: 2.75rem;
  padding: 0;
}

.video__img {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 41.375rem;
}

.order {
  background: #000;
}

.order__container {
  padding-top: 4.25rem;
  padding-bottom: 5.3125rem;
}

@media screen and (max-width: 768px) {
  .order__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.order__title {
  color: white;
  text-align: center;
  margin-bottom: 3.625rem;
}

@media screen and (max-width: 768px) {
  .order__title {
    margin-bottom: 1.875rem;
  }
}

.map {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/map.jpg") no-repeat center;
  background-size: cover;
  min-height: 40.75rem;
}

@media screen and (max-width: 768px) {
  .map {
    min-height: 100vh;
  }
}

.goodbye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .goodbye {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 1.875rem;
    min-height: 100vh;
  }
}

.contacts {
  margin: 0;
  padding: 0;
  font-style: normal;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 480px) {
  .contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    margin-bottom: 1.25rem;
  }
}

.contacts__phone {
  margin-left: 1.25rem;
  display: block;
}

@media screen and (max-width: 480px) {
  .contacts__phone {
    margin-left: 1.875rem;
  }
}

@media screen and (max-width: 480px) {
  .contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media screen and (max-width: 768px) {
  .footer__container {
    min-height: 4.125rem;
  }
}
