$containerWidth: 1100px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

@import "media";
@import "layout";
@import "blocks/wrapper";
@import "blocks/fonts";
@import "sections/page";
@import "blocks/link";
@import "blocks/container";
@import "blocks/visually-hidden";
@import "blocks/title";
@import "blocks/subtitle";
@import "blocks/button";
@import "blocks/hamburger";
@import "blocks/overlay";
@import "blocks/social";
@import "blocks/address";
@import "blocks/blockquote";
@import "blocks/form";
@import "blocks/features";
@import "sections/header";
@import "blocks/nav-main";
@import "blocks/nav-sliders";
@import "blocks/phone";
@import "sections/start-screen";
@import "blocks/nav-sections";
@import "sections/promo";
@import "sections/products";
@import "blocks/slider";
@import "blocks/slick";
@import "blocks/price";
@import "blocks/button-slider";
@import "sections/team";
@import "blocks/specialization";
@import "sections/colors";
@import "sections/reviews";
@import "sections/video";
@import "sections/order";
@import "blocks/map";
@import "blocks/goodbye";
@import "blocks/contacts";
@import "sections/footer";
@import "blocks/error-message";
@import "blocks/submit-overlay"