.footer {
    box-sizing: border-box;
    &__container {
        padding-top: rem(20px);
        padding-bottom: rem(20px);
        @include tablets {
            min-height: rem(66px);
        }
    }
    
}