.header {
    background-color: #f5f5f5;
    //padding: rem(24px) 0;
    @include tablets {
        padding: 0;
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 10vh;
        @include tablets {
            min-height: 10vh;
            justify-content: space-between;
        }
    }

    &__logo {
        margin-right: rem(38px);
    }

    &__phone {
        margin-left: rem(47px);
        
    }

    
}
