.products {
    background-color: #F8FAF9;
    padding-top: rem(36px);
    padding-bottom: rem(96px);
    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        position: relative;
    }

    &__left-column {
        padding-top: rem(58px);
        padding-left: rem(20px);
        margin-right: rem(20px);
        margin-left: 0;
    }

    &__right-column {
        /*padding-top: rem(68px);*/
        display: flex;
        flex-direction: column;
        flex-basis: rem(400px);
        margin-right: 0;
        margin-left: rem(20px);
    }

    &__button-specifications {
        width: rem(91px);
        height: rem(91px);
        margin-bottom: rem(25px);
        border-radius: rem(4px);
        background: url('../img/specifications.svg') no-repeat center;
        background-size: rem(42px) rem(42px);
        background-color: #9A9A9A;
    }

    &__title {
        margin-bottom: rem(25px);
    }

    &__subtitle {
        width: rem(368px);
        margin-bottom: rem(26px);
    }

    &__features {
        margin-bottom: rem(24px);
    }

    &__img {
        width: 100%;
        max-width: rem(452px);
        object-fit: cover;
    }
}