.promo {
    
    &__container {
        padding-top: 100px;
        padding-bottom: 26px;
    }

    &__title {
        text-align: center;
        margin-bottom: 18px;
    }

    &__subtitle {
        text-align: center;
        max-width: 590px;
        margin: 0 auto;
        margin-bottom: 62px;
    }

    &__advantages-list {
        margin: 0 -24px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    &__advantages-item {
        flex-basis: 1 1 276px;
        //  width: 276px;
        padding-top: 152px;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 24px;
        margin-bottom: 70px;


    }

    &__advantages-item::before {
        content: '';
        width: 128px;
        height: 128px;
        border-radius: 50%;
        position: absolute;
        top: 0;
    }

    &__advantages-item:nth-child(1)::before {
        background: url('../img/icons/feat-1.svg') no-repeat center;
        background-size: 68px;
        background-color: #F2F5F4;
    }

    &__advantages-item:nth-child(2)::before {
        background: url('../img/icons/feat-2.svg') no-repeat center;
        background-size: 68px;
        background-color: #F2F5F4;
    }

    &__advantages-item:nth-child(3)::before {
        background: url('../img/icons/feat-3.svg') no-repeat center;
        background-size: 68px;
        background-color: #F2F5F4;
    }

    &__advantages-title {
        margin: 0;
        margin-bottom: 7px;
        padding: 0;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.75rem;   
    }

    &__advantages-text {
        margin: 0;
        padding: 0;
        width: 247px;
    }
/*
    &__advantages-decor {
        width: 22px;
        height: 22px;
        margin: 0 23px;
        background-color: #F2F5F4;;
        border-radius: 50%;
        position: absolute;
        top: 60px;
        right: -60px;

        &::before {
            content: '';
            width: 14px;
            height: 14px;
            background-color: #F2F5F4;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            left: -24px;
        }

        &::after {
            content: '';
            width: 14px;
            height: 14px;
            background-color: #F2F5F4;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            right: -24px;
        }
    }*/
}