.products {
    background-color: #F8FAF9;
    padding-top: 36px;
    padding-bottom: 96px;
    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        position: relative;
    }

    &__left-column {
        padding-top: 58px;
        padding-left: 20px;
        margin-right: 20px;
        margin-left: 0;
    }

    &__right-column {
        /*padding-top: 68px;*/
        display: flex;
        flex-direction: column;
        flex-basis: 400px;
        margin-right: 0;
        margin-left: 20px;
    }

    &__button-specifications {
        width: 91px;
        height: 91px;
        margin-bottom: 25px;
        border-radius: 4px;
        background: url('../img/specifications.svg') no-repeat center;
        background-size: 42px 42px;
        background-color: #9A9A9A;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__subtitle {
        width: 368px;
        margin-bottom: 26px;
    }

    &__features {
        margin-bottom: 24px;
    }

    &__img {
        width: 100%;
        max-width: 452px;
        object-fit: cover;
    }
}