.promo {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        text-align: center;
        margin-bottom: rem(18px);
    }

    &__subtitle {
        text-align: center;
        max-width: rem(590px);
        margin: 0 auto;
        margin-bottom: rem(62px);
    }

    &__advantages-list {
        margin: 0 rem(-24px);
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        @include phones {
            flex-direction: column;
            margin-left: 0;
            width: 100%;
        }
    }

    &__advantages-item {
        flex-basis: 1 1 rem(276px);
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 rem(24px);
        margin-bottom: rem(70px);
        @include tablets {
            margin: 0;
            margin-bottom: 40px;
        }

        @include phones {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            width: 100%;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__advantages-picture {
        width: rem(128px);
        height: rem(128px);
        border-radius: 50%;
        background-color: #f2f5f4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(26px);
        & img {
            max-width: rem(68px);
            max-height: rem(68px);
        }

        @include phones {
            margin-bottom: 0;
            margin-right: rem(12px);
            min-width: rem(128px);
        }
    }

    &__advantages-descript {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include phones {
            justify-content: center;
            align-items: flex-start;
            width: 100%;
        }
    }

    &__advantages-title {
        margin: 0;
        margin-bottom: rem(7px);
        padding: 0;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.75rem;
        @include phones {
            align-self: flex-start;
            text-align: left;
            width: 100%;
        }
    }

    &__advantages-text {
        margin: 0;
        padding: 0;
        width: rem(247px);
        @include tablets {
            width: 100%;
            max-width: rem(229px);
        }
        @include phones {
            text-align: left;
            max-width: 100%;
        }
    }
    /*
    &__advantages-decor {
        width: rem(22px);
        height: rem(22px);
        margin: 0 rem(23px);
        background-color: #F2F5F4;;
        border-radius: 50%;
        position: absolute;
        top: rem(60px);
        right: rem(-60px);

        &::before {
            content: '';
            width: rem(14px);
            height: rem(14px);
            background-color: #F2F5F4;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: rem(-7px);
            left: rem(-24px);
        }

        &::after {
            content: '';
            width: rem(14px);
            height: rem(14px);
            background-color: #F2F5F4;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: rem(-7px);
            right: rem(-24px);
        }
    }*/
}
