.reviews {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        text-align: center;
        margin-bottom: rem(32px);
    }

    &__blockquote {
        //margin-bottom: rem(16px);
    }

    &__nav {
        margin: 0 auto;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        //на абсолютах
        position: relative;
        min-height: 260px;
        /*padding: 2.625rem;
        padding-bottom: 2.5rem;*/
        background: #f8faf9;
        margin-bottom: 40px;
    }

    &__item {
        //display: none;
        //на абсолютах
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

        //on visually-hidden

        &_active {
            //display: block;
            position: static;
        }
    }
}
