.start-screen {
    background-color: #f5f5f5;
    
    &__container {
        padding-top: 66px;
        padding-bottom: 50px;
        background: url('../img/headphones-main.png') no-repeat;
        background-position: 84% 20px;
        background-size: 489px;
    }

    &__title {
        width: 400px;
        margin: 0;
        padding: 0;
        margin-bottom: 22px;
        display: block;
    }
    &__subtitle {
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 1.3125rem;
        line-height: 1.5625rem;
        width: 332px;
        margin: 0;
        margin-bottom: 36px;
        padding: 0;
    }

    &__button {
        margin-bottom: 72px;
    }

    &__advantages-list {
        margin: 0;
        padding: 0;
        max-width: 522px;
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__advantages-item {
        width: 166px;
        height: 56px;
        margin: 0;
        padding: 0;
        padding-left: 52px;
        line-height: 1.125rem;
        position: relative;
    }

    &__advantages-item::before {
        content: '';
        width: 41px;
        height: 41px;
        position: absolute;
        top: -2px;
        left: 0px;
    }

    &__advantages-item:nth-child(1)::before {
        background: url('../img/icons/main-1.svg') no-repeat center;
        background-size: cover;
    }

    &__advantages-item:nth-child(2)::before {
        background: url('../img/icons/main-2.svg') no-repeat center;
        background-size: cover;
    }

    &__advantages-item:nth-child(3)::before {
        background: url('../img/icons/main-3.svg') no-repeat center;
        background-size: cover;
    }


}
