.team {
    padding-top: rem(70px);
    padding-bottom: rem(20px);
    &__containter {
        @include tablets {
            display: flex;
            flex-direction: column;
            justify-content: center;

        }
        
    }

    &__title {
        text-align: center;
        margin-bottom: rem(53px);
        @include tablets {
            margin-bottom: rem(34px);
        }
    }

    &__name {
        margin-bottom: rem(12px);
        padding-right: rem(5px);
        text-align: center;
        position: relative;
        &:after {
            content: '';
            position: relative;
            top: rem(15px);
            left: rem(5px);
            width: 0;
            height: 0;
            border-top: rem(8px) solid #E01F3D;;
            border-right: rem(4px) solid transparent;
            border-left: rem(4px) solid transparent;
        }
        @include tablets {
            order: -10;
            font-family: 'Alegreya Sans', sans-serif;
            font-size: rem(22px);
            line-height: rem(26px);
        }
        @include phones {
            font-size: rem(20px);
            margin-bottom: 0;
        }
    }

    

    &__list {
        margin: 0 rem(-10px);
        padding: 0;

        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        @include tablets {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        width: rem(220px);
        cursor: pointer;
        margin: 0 rem(10px);
        padding-bottom: rem(30px);
        @include tablets {
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-bottom: 4px;
            padding: 0;
        }

    }

    &__img {
        width: rem(220px);
        height: rem(290px);
        margin-bottom: rem(21px);

        @include tablets {
            display: none;  
            &_visible {
                display: block;
            }

        }

        @include phones {
            width: rem(138px);
            height: rem(180px);
            align-self: center;
            margin-top: rem(10px);
        }

        
    }

    &__specialization {
        @include tablets {
            display: none;
        }
    }
}

