.video {
    background-color: #F8FAF9;
    &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: rem(20px);
        padding-bottom: rem(20px);
 
    }
    &__title {
        text-align: center;
        margin: 0;
        margin-bottom: rem(44px);
        padding: 0;
    }
    &__img {
        margin: 0 auto;
        display: block;
        width: 100%;
        max-width: rem(662px);
    }
}