.colors {
    background: url("../img/wooman-ball.jpg") no-repeat center;
    background-size: cover;
    position: relative;

    &__container {
        width: rem(940px);
        margin: 0 auto;
        padding: rem(115px) rem(15px) 0 rem(15px);
    }

    &__title {
        color: white;
    }

    &__list {
        list-style: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: flex;
        transition: 0.3s;
        &_mobile {
            order: 1;
        }
    }

    &__title-bookmark {
        font-family: "Alegreya Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.25rem;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        width: rem(102px);
        display: flex;
        align-items: center;
        padding-top: rem(30px);
        cursor: pointer;
        @include phones {
            width: rem(90px);
        }

        &_grey {
            background: #999999;
        }
        &_black {
            background: #151515;
        }
        &_red {
            background: #e01f3c;
        }
    }
    &__content {
        overflow: hidden;
        width: 0;
        position: relative;
        transition: 0.3s;
        box-sizing: border-box;
        
        &_active {
            //padding: rem(40px);

            background-color: rgba(51, 53, 55, 0.9);
            //width: rem(524px);
        }
    }

    &__text {
        //position: absolute;
        margin: 0;
        padding: 0;
        color: white;
        font-size: rem(18px);
        line-height: 150%;
        font-family: "Alegreya Sans", sans-serif;
        padding: rem(40px);
    }

    &__close {
        position: absolute;
        top: 2%;
        right: 2%;
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
    }

    &__icon {
        fill: white;
        width: rem(24px);
        height: rem(24px);
        &:hover {
            fill: grey;
        }
    }
}
