@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Play'),
         url('../fonts/Play-Regular.woff2') format('woff2'),
         url('../fonts/Play-Regular.woff') format('woff'),
         url('../fonts/Play-Regular.ttf') format('truetype'),
         url('../fonts/Play-Regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Play'),
         url('../fonts/Play-Bold.woff2') format('woff2'),
         url('../fonts/Play-Bold.woff') format('woff'),
         url('../fonts/Play-Bold.ttf') format('truetype'),
         url('../fonts/Play-Bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Alegreya Sans'),
         url('../fonts/AlegreyaSans-Regular.woff2') format('woff2'),
         url('../fonts/AlegreyaSans-Regular.woff') format('woff'),
         url('../fonts/AlegreyaSans-Regular.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Regular.eot') format('embedded-opentype');
  }