.nav-main {
    margin: 0;
    padding: 0;
    width: rem(660px);
    @include tablets {
        display: none;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        align-items: center;
    }
    &__item {
        margin-right: rem(10px);
        margin-left: rem(10px);
    }

    &__item:last-child {
        //margin-right: rem(0px);
    }
    &__link {
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 1.125rem;
        line-height: 1.875rem;
    }
}
