.specialization {
    margin: 0;
    padding: 0;
    //max-height: 100%;
    //display: none;

    &_active {
        overflow: visible;
        height: 100%;
    }


    &__termin {
        margin: 0;
        margin-bottom: rem(5px);
        padding: 0;
        text-align: center;
        color: #000000;
    }

    &__description {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #666666;
    }
}

