.submit-overlay {
    width: 100vw;
    height: 100vh;
    z-index: 20000;
    background-color: rgba(48, 44, 44, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;

    &__message {
        width: rem(310px);
        height: rem(176px);
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: rem(20px);
    }

    &__text {
        margin: 0;
        margin-bottom: rem(40px);
        padding: 0;
        text-align: center;
    }

    &__button {
    }
    &_active {
        display: flex;
    justify-content: center;
    align-items: center;
    }
}
