.address {
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    margin-bottom: rem(5px);
    @include phones {
        font-size: rem(18px);
        line-height: rem(24px);
        margin-bottom: rem(12px);
    }
}
