.button-slider {
    border: none;
    width: 24px;
    height: 40px;
    background: url("../img/arrow-left.svg") no-repeat center;
    background-size: 24px 40px;
    cursor: pointer;
    outline: none;
    position: absolute;

    &_prev {
        top: 50%;
        left: 0%;
        margin-left: 20px;
    }
    
    &_next {
        transform: rotate(180deg);
        top: 50%;
        right: 0%;
        margin-right: 20px;
    }
}
