.button-slider {
    border: none;
    width: rem(24px);
    height: rem(40px);
    background: url("../img/arrow-left.svg") no-repeat center;
    background-size: rem(24px) rem(40px);
    cursor: pointer;
    outline: none;
    position: absolute;

    &_prev {
        top: 50%;
        left: 0%;
        margin-left: rem(20px);
        @include tablets {
            margin-left: rem(10px);
        }

        @include phones {
            margin-left: 0;
        }

    }
    
    &_next {
        transform: rotate(180deg);
        top: 50%;
        right: 0%;
        margin-right: rem(20px);
        @include tablets {
            margin-right: rem(10px);
        }
        @include phones {
            margin-right: 0;
        }
    }
}
