.container {
    width: 100%;
    max-width: rem(1100px);
    padding: 0 rem(80px);
    margin: 0 auto;
    box-sizing: border-box;
    @include tablets {
        min-height: 100vh;
        padding: 0 rem(22px);
        width: 100%;
        max-width: 100vw;
    }
    @include phones {
        padding: 0 rem(10px);
    }
}