@mixin zero {
    margin: 0;
    padding: 0;
}

.features {
    @include zero;
    display: flex;
    align-items: flex-start;
    

    &__item {
        @include zero;
        margin-right: rem(44px);
        flex-basis: rem(104px);
    }

    &__termin {
        @include zero;
        margin-bottom: rem(1px);
    }

    &__description {
        @include zero;
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.3125rem;
    }
}
