.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0 rem(-14px);
    @include phones {
        margin: 0;
        max-width: 100%;
    }


    &__left-column {
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: rem(460px);
        margin: 0 rem(14px);
        @include tablets {
            margin: 0;
        }

        @include phones {
            max-width: 100%;
        }
    }

    &__right-column {
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: rem(460px);
        margin: 0 rem(14px);
        @include phones {
            max-width: 100%;
            margin: 0;
        }
    }

    &__label {
        color: white;
        display: block;
        box-sizing: border-box;
        margin-bottom: rem(6px);
        &_margin {
            &_zero {
                margin: 0;
            }
        }
        &_radio {
            position: relative;
            padding-left: rem(35px);
            &::before {
                content: "";
                width: rem(26px);
                height: rem(26px);
                background-color: white;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: rem(0px);
                margin-top: rem(-13px);
            }
            &_active::before {
                content: "";
                width: rem(13px);
                height: rem(13px);
                background-color: #e01f3d;
                border: rem(6px) solid white;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: rem(0px);
                margin-top: rem(-13px);
            }
        }
        &_checkbox {
            position: relative;
            padding-left: rem(35px);
            &::before {
                content: "";
                width: rem(24px);
                height: rem(24px);
                background-color: white;
                border-radius: rem(4px);
                position: absolute;
                top: 50%;
                left: rem(0px);
                margin-top: rem(-12px);
            }
            &_active::before {
                content: "";
                width: rem(24px);
                height: rem(24px);
                background: url("../img/checkmark.svg") no-repeat center;
                background-size: rem(10px) rem(8px);
                background-color: white;

                border-radius: rem(4px);
                position: absolute;
                top: 50%;
                left: rem(0px);
                margin-top: rem(-12px);
            }
        }
    }

    &__input {
        height: rem(58px);
        background: #ffffff;
        border-radius: rem(4px);
        margin: 0;
        padding: 0;
        padding-left: rem(10px);
        border: none;
        outline: none;
        box-sizing: border-box;
        @include tablets {
            height: rem(36px);
        }
    }

    &__radio {
        display: none;
    }

    &__contacts {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: rem(11px);
        @include tablets {

            max-width: 100%;
        }
    }

    &__name {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-right: rem(16px);
        box-sizing: border-box;
        @include tablets {
            flex: 1 1;
            min-width: 30%;
        }
    }

    &__phone {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        @include tablets {
            flex: 1 1;
            min-width: 30%;
        }
    }

    &__street {
        display: flex;
        flex-direction: column;
        margin-bottom: rem(11px);
        box-sizing: border-box;
    }

    &__adress {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        box-sizing: border-box;
        margin-bottom: rem(11px);
    }

    &__house {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        width: rem(106px);
        margin-right: rem(13px);
        & input {
            width: 100%;
        }
    }

    &__housing {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        width: rem(106px);
        margin-right: rem(13px);
        & input {
            width: 100%;
        }
    }

    &__flat {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        width: rem(106px);
        margin-right: rem(13px);
        & input {
            width: 100%;
        }
    }

    &__floor {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        width: rem(106px);
        & input {
            width: 100%;
        }
    }

    &__comment {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-bottom: rem(38px);
        @include tablets {
            margin-bottom: rem(30px);
        }
    }
    &__textarea {
        display: block;
        min-height: rem(143px);
        border: none;
        outline: none;
        background: #ffffff;
        border-radius: rem(4px);
        padding: rem(5px) rem(10px);
        max-width: 100%;
        resize: none;
        @include tablets {
            min-height: rem(82px);
        }
    }

    &__payment {
        display: flex;
        justify-content: flex-start;
        margin-bottom: rem(20px);
    }

    &__cash {
        display: flex;
        justify-content: row-reverse;
        align-items: center;
        margin-right: rem(15px);
    }
    &__card {
        display: flex;
        justify-content: row-reverse;
        align-items: center;
    }

    &__checkbox {
        display: none;
    }
    &__call {
        margin-bottom: rem(44px);
    }
    &__buttons {
        display: flex;
        @include tablets {
            align-self: center;
        }

        @include phones {
            max-width: 100%;
        }
    }
}
