.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0 -14px;

    &__left-column {
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: 460px;
        margin: 0 14px;
    }

    &__right-column {
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: 460px;
        margin: 0 14px;

    }

    &__label {
        color: white;
        display: block;
        box-sizing: border-box;
        margin-bottom: 6px;
        &_margin {
            &_zero {
                margin: 0;
            }
        }
        &_radio {
            position: relative;
            padding-left: 35px;
            &::before {
                content: "";
                width: 26px;
                height: 26px;
                background-color: white;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 0px;
                margin-top: -13px;
            }
            &_active::before {
                content: "";
                width: 13px;
                height: 13px;
                background-color: #e01f3d;
                border: 6px solid white;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 0px;
                margin-top: -13px;
            }
        }
        &_checkbox {
            position: relative;
            padding-left: 35px;
            &::before {
                content: "";
                width: 24px;
                height: 24px;
                background-color: white;
                border-radius: 4px;
                position: absolute;
                top: 50%;
                left: 0px;
                margin-top: -12px;
            }
            &_active::before {
                content: "";
                width: 24px;
                height: 24px;
                background: url("../img/checkmark.svg") no-repeat center;
                background-size: 10px 8px;
                background-color: white;

                border-radius: 4px;
                position: absolute;
                top: 50%;
                left: 0px;
                margin-top: -12px;
            }
        }
    }

    &__input {
        height: 58px;
        background: #ffffff;
        border-radius: 4px;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        border: none;
        outline: none;
        box-sizing: border-box;
    }

    &__radio {
        display: none;
    }

    &__contacts {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 11px;
    }

    &__name {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-right: 16px;
        box-sizing: border-box;
    }

    &__phone {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    &__street {
        display: flex;
        flex-direction: column;
        margin-bottom: 11px;
        box-sizing: border-box;
    }

    &__adress {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        box-sizing: border-box;
        margin-bottom: 11px;
    }

    &__house {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        width: 106px;
        margin-right: 13px;
        & input {
            width: 100%;
        }
    }

    &__housing {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        width: 106px;
        margin-right: 13px;
        & input {
            width: 100%;
        }
    }

    &__flat {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        width: 106px;
        margin-right: 13px;
        & input {
            width: 100%;
        }
    }

    &__floor {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        width: 106px;
        & input {
            width: 100%;
        }
    }

    &__comment {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-bottom: 38px;
    }
    &__textarea {
        display: block;
        min-height: 143px;
        border: none;
        outline: none;
        background: #ffffff;
        border-radius: 4px;
        padding: 5px 10px;
        max-width: 100%;
        resize: none;
    }

    &__payment {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    &__cash {
        display: flex;
        justify-content: row-reverse;
        align-items: center;
        margin-right: 15px;
    }
    &__card {
        display: flex;
        justify-content: row-reverse;
        align-items: center;
    }

    &__checkbox {
        display: none;
    }
    &__call {
        margin-bottom: 44px;
    }
    &__buttons {
        display: flex;
    }
}
