.goodbye {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    max-width: rem(1100px);
    padding: 0 rem(80px);
    margin: 0 auto;

    @include tablets {
        padding: 0 rem(22px);
        max-width: 100vw;
    }
    @include phones {
        flex-direction: column;
        justify-content: center;
        padding: 0 rem(10px);
        min-height: 15vh;

    }

    /*@include phones {
        flex-direction: column;
        justify-content: center;
        padding-top: rem(20px);
        padding-bottom: rem(30px);
        min-height: 100vh;
    }*/
}