.goodbye {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phones {
        flex-direction: column;
        padding-top: rem(20px);
        padding-bottom: rem(30px);
    }
}