.phone {
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.125rem;
    display: block;
    position: relative;
    padding-bottom: rem(3px);
    min-width: rem(154px);
    @include tablets {
        display: none;
    }
    
    &:before {
        content: '';
        width: rem(14px);
        height: rem(14px);
        background: url('../img/icons/phone.svg') no-repeat center;
        background-size: cover;
        position: absolute;
        top: rem(2px);
        left: rem(-20px);
    }

   
}