.phone {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    display: block;
    position: relative;
    padding-bottom: 3px;
    
    &:before {
        content: '';
        width: 14px;
        height: 14px;
        background: url('../img/icons/phone.svg') no-repeat center;
        background-size: cover;
        position: absolute;
        top: 2px;
        left: -20px;
    }
}