.social {
    display: flex;
    align-items: center;
    margin-right: rem(-20px);
    &__icon {
        width: rem(30px);
        height: rem(30px);
        fill: #B3B3B3;
        margin-right: rem(10px);
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            fill: #000000;
        }
    }
    @include tablets {
        margin: 0;
    }
}